---
title: tbaba.jp
---

%ul.menu
  %li= link_to 'Twitter', 'https://twitter.com/_tbaba'
  %li= link_to 'Facebook', 'https://facebook.com/tatsuro.baba'
  %li= link_to 'GitHub', 'https://github.com/tbaba'
  %li= link_to 'Qiita', 'http://qiita.com/tbaba'
  %li= link_to 'Blog', 'http://weblog.tbaba.jp'
